how-to-tensorFlow/src/logs/projector_config.pbtxt
how-to-tensorFlow/src/logs/train/checkpoint
how-to-tensorFlow/src/logs/train/events.out.tfevents.1634466715.DESKTOP-C5PT59R.3056.0.v2
how-to-tensorFlow/src/logs/train/events.out.tfevents.1634466768.DESKTOP-C5PT59R.3056.1.v2
how-to-tensorFlow/src/logs/train/events.out.tfevents.1634466915.DESKTOP-C5PT59R.3056.2.v2
how-to-tensorFlow/src/logs/train/events.out.tfevents.1634466920.DESKTOP-C5PT59R.profile-empty
how-to-tensorFlow/src/logs/train/events.out.tfevents.1634467266.DESKTOP-C5PT59R.3056.4.v2
how-to-tensorFlow/src/logs/train/events.out.tfevents.1634467345.DESKTOP-C5PT59R.3056.6.v2
how-to-tensorFlow/src/logs/train/events.out.tfevents.1634467568.DESKTOP-C5PT59R.3056.7.v2
how-to-tensorFlow/src/logs/train/events.out.tfevents.1634468751.DESKTOP-C5PT59R.3056.8.v2
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-0.data-00000-of-00001
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-0.index
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-1.data-00000-of-00001
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-1.index
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-2.data-00000-of-00001
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-2.index
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-3.data-00000-of-00001
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-3.index
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-4.data-00000-of-00001
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-4.index
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-5.data-00000-of-00001
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-5.index
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-6.data-00000-of-00001
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-6.index
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-7.data-00000-of-00001
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-7.index
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-8.data-00000-of-00001
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-8.index
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-9.data-00000-of-00001
how-to-tensorFlow/src/logs/train/keras_embedding.ckpt-9.index
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_35_20/DESKTOP-C5PT59R.input_pipeline.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_35_20/DESKTOP-C5PT59R.kernel_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_35_20/DESKTOP-C5PT59R.memory_profile.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_35_20/DESKTOP-C5PT59R.overview_page.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_35_20/DESKTOP-C5PT59R.tensorflow_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_35_20/DESKTOP-C5PT59R.trace.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_35_20/DESKTOP-C5PT59R.xplane.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_41_06/DESKTOP-C5PT59R.input_pipeline.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_41_06/DESKTOP-C5PT59R.kernel_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_41_06/DESKTOP-C5PT59R.memory_profile.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_41_06/DESKTOP-C5PT59R.overview_page.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_41_06/DESKTOP-C5PT59R.tensorflow_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_41_06/DESKTOP-C5PT59R.trace.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_41_06/DESKTOP-C5PT59R.xplane.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_42_25/DESKTOP-C5PT59R.input_pipeline.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_42_25/DESKTOP-C5PT59R.kernel_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_42_25/DESKTOP-C5PT59R.memory_profile.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_42_25/DESKTOP-C5PT59R.overview_page.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_42_25/DESKTOP-C5PT59R.tensorflow_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_42_25/DESKTOP-C5PT59R.trace.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_42_25/DESKTOP-C5PT59R.xplane.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_46_08/DESKTOP-C5PT59R.input_pipeline.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_46_08/DESKTOP-C5PT59R.kernel_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_46_08/DESKTOP-C5PT59R.memory_profile.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_46_08/DESKTOP-C5PT59R.overview_page.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_46_08/DESKTOP-C5PT59R.tensorflow_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_46_08/DESKTOP-C5PT59R.trace.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_10_46_08/DESKTOP-C5PT59R.xplane.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_05_51/DESKTOP-C5PT59R.input_pipeline.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_05_51/DESKTOP-C5PT59R.kernel_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_05_51/DESKTOP-C5PT59R.memory_profile.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_05_51/DESKTOP-C5PT59R.overview_page.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_05_51/DESKTOP-C5PT59R.tensorflow_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_05_51/DESKTOP-C5PT59R.trace.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_05_51/DESKTOP-C5PT59R.xplane.pb
how-to-tensorFlow/src/logs/validation/events.out.tfevents.1634466963.DESKTOP-C5PT59R.3056.3.v2
how-to-tensorFlow/src/logs/validation/events.out.tfevents.1634467308.DESKTOP-C5PT59R.3056.5.v2
how-to-tensorFlow/src/logs/train/events.out.tfevents.1634470059.DESKTOP-C5PT59R.3056.9.v2
how-to-tensorFlow/src/logs/train/events.out.tfevents.1634470445.DESKTOP-C5PT59R.3056.10.v2
how-to-tensorFlow/src/logs/train/events.out.tfevents.1634470546.DESKTOP-C5PT59R.3056.11.v2
how-to-tensorFlow/src/logs/train/events.out.tfevents.1634470808.DESKTOP-C5PT59R.3056.12.v2
how-to-tensorFlow/src/logs/train/events.out.tfevents.1634470929.DESKTOP-C5PT59R.3056.13.v2
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_27_39/DESKTOP-C5PT59R.input_pipeline.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_27_39/DESKTOP-C5PT59R.kernel_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_27_39/DESKTOP-C5PT59R.memory_profile.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_27_39/DESKTOP-C5PT59R.overview_page.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_27_39/DESKTOP-C5PT59R.tensorflow_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_27_39/DESKTOP-C5PT59R.trace.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_27_39/DESKTOP-C5PT59R.xplane.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_34_06/DESKTOP-C5PT59R.input_pipeline.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_34_06/DESKTOP-C5PT59R.kernel_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_34_06/DESKTOP-C5PT59R.memory_profile.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_34_06/DESKTOP-C5PT59R.overview_page.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_34_06/DESKTOP-C5PT59R.tensorflow_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_34_06/DESKTOP-C5PT59R.trace.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_34_06/DESKTOP-C5PT59R.xplane.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_35_46/DESKTOP-C5PT59R.input_pipeline.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_35_46/DESKTOP-C5PT59R.kernel_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_35_46/DESKTOP-C5PT59R.memory_profile.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_35_46/DESKTOP-C5PT59R.overview_page.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_35_46/DESKTOP-C5PT59R.tensorflow_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_35_46/DESKTOP-C5PT59R.trace.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_35_46/DESKTOP-C5PT59R.xplane.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_40_08/DESKTOP-C5PT59R.input_pipeline.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_40_08/DESKTOP-C5PT59R.kernel_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_40_08/DESKTOP-C5PT59R.memory_profile.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_40_08/DESKTOP-C5PT59R.overview_page.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_40_08/DESKTOP-C5PT59R.tensorflow_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_40_08/DESKTOP-C5PT59R.trace.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_40_08/DESKTOP-C5PT59R.xplane.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_42_10/DESKTOP-C5PT59R.input_pipeline.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_42_10/DESKTOP-C5PT59R.kernel_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_42_10/DESKTOP-C5PT59R.memory_profile.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_42_10/DESKTOP-C5PT59R.overview_page.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_42_10/DESKTOP-C5PT59R.tensorflow_stats.pb
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_42_10/DESKTOP-C5PT59R.trace.json.gz
how-to-tensorFlow/src/logs/train/plugins/profile/2021_10_17_11_42_10/DESKTOP-C5PT59R.xplane.pb
